/* Logo */
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 14px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

#container {
  font-family: "Exo 2", sans-serif;
  /* display: flex; */
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  background: #000;
  min-height: 100vh;
}

#logo {
  font-size: 5rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  /* padding: 4rem 6rem 5.5rem; */
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

#logo::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#logo::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#logo:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* Carousel */

.carousel-item {
  object-fit: cover;
  overflow: hidden;
}
.carousel-item img {
  height: 70vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  z-index: -1;
}
.carousel-item, .carousel {
  height: 70vh;
}


/* Footer */
footer a {
  color: #2068A8;
}

footer li {
  text-align: center;
}
