body {
  background-image: url("http://theartmad.com/wp-content/uploads/2015/02/Colorful-Geometric-Wallpaper-23.jpg");
  background-size: cover;
  text-align: center;
}

.Name {
  color: white;
}

header {
  width: 515px;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
  color: #246bb2;
  text-decoration: none;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-bottom: 50px;
}

#pom {
  color: white;
  text-decoration: none;
}

#pom:hover {
  color: #dddddd;
  text-decoration: none;
}

#clock {
  margin-top: 50px;
  width: 250px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  font-family: "Lato", sans-serif;
  font-size: 40px;
  text-align: center;
  border-radius: 50px;
}

#start {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  color: white;
}

#start:hover {
  color: #246bb2;
}

#reset:hover {
  color: #246bb2;
}

#reset {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  color: white;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
