*{
    background-color: black
}

.name{
    border: 1px yellow solid;
    color: aqua;
    padding-left: 40%;
    font-family: sans-serif;

}

.image{
    padding-left: 27%;
    height: 800px;
    width: 600px;
}

